@media (max-width: 600px) {
  .modalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modalView {
    /* background-color: var(--color-red-1); */
    background-color: var(--background-light);

    color: var(--fontColor-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100dvh;
    width: 100dvw;
    border-radius: 0;
    overflow-x: hidden;
    padding-bottom: 0;

  }

  #tituloModal {
    /* font-size: var(--size-xxl); */
    font-size: 4.8vw;
    font-weight: bold;
  }

  .imgContainer {
    background-color: var(--color-red-5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 65vw;
    
  }

  .modalContent {
    /* background-color: var(--color-red-2); */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35%;
    width: 95vw;
    li {
      margin: 20px;
      text-align: justify;
      font-weight: bold;
      font-size: 3.4vw;
    }
  }

  .linkContainer {
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
    background-color: var(--color-red-3);
    width: 85vw;
    height: 50px;
    color: var(--color-red-6);
    border-radius: 8px;
    border: 2.5px dashed var(--color-red-6);

    opacity: 0.25;

    svg {
      width: var(--size-xxl);
      height: 100%;
    }

    .dashed {
      width: 35px;
      margin-left: 5px;
      border-right: 2.5px dashed var(--color-red-4);
      padding-right: 10px;
    }

    span {
      margin-right: 20%;
    }
  }

  .buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100dvw;
    height: 50px;
    background-color: var(--color-red-2);
    padding: 0 10px;
    opacity: 0.9;


    button {
      color: var(--color-black-1);
      background-color: var(--background-red);
      border: none;
      border-radius: 20px;
      width: 18vw;
      height: 30px;
    }

    a {
      width: 18vw;
    }
  }


  .progressBar {
    /* background-color: var(--color-red-3); */
    background-color: var(--background-light);

    color: var(--background-red);
  }
}
