@media (max-width: 600px) {
  .quantidadeContainer {
    background-color: var(--color-black-2);
    width: 105px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-black-13);
        width: 25px;
        height: 25px;
        border-radius: 100%;
        margin: 0 5px;
        color: var(--fontColor-light)
    }
  }
}
